#richterbox{
	display: grid;
	grid-gap: 5px;
	background-color: #eee;
	padding: 10px;
	width:220px;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

#richterbox button{
	width:40px;height: 40px;
	border:none;
	background-color: white;
	font-size:1px;/*font size determins the minimum width of buttons*/
	padding:0px;
}

@media print {

	#printwrapper{
		display:none;
	}
}

h1{
	text-align: center;
}
#over{	
	display: grid;
	width:100%;
	padding: 10px;
	grid-gap:5px;
	position:absolute;
	top: 0;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	box-sizing: border-box;
	opacity:0;
}
#wrap{
	display:inline-block;
	position: relative;
}
#over button{
	width:40px;height: 40px;
	border:none;
	opacity:0;
	font-size:1px;/*font size determins the minimum width of buttons*/
	padding:0px;
}
.colbox button{
	border-radius: 50%;
	border:1px solid black;
	background-color: white;
	padding:0px;
	width:18px;
	font-size: 14px;
}
.colbox{
	width:70px;
	text-align: center;
}
.colbox input{
	vertical-align: text-bottom;
	margin:0;
}
#colorpallet{
	display:flex;
	flex-wrap: wrap;
	border:2px solid black;
	padding:10px;
}
fieldset{
	display:none;
}
nav{
	display:flex;
	justify-content: space-around;
}