#index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw; }

@media screen and (max-width: 720px) {
  #index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
    padding-top: 100px; } }
#riverquiz .close, #moss .close, #fern .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  padding: 3px; }
  #riverquiz .close:hover, #moss .close:hover, #fern .close:hover {
    background-color: rgba(255, 255, 255, 0.3); }

nav {
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100vw; }

nav a {
  display: none;
  width: 100px;
  height: 35px;
  border-radius: 0 0 200% 200%;
  text-align: center;
  transition: width 1s, height 1s;
  color: #B5E0A2;
  text-decoration: none;
  text-shadow: 1px 1px black; }

nav a div {
  width: 100px;
  height: 35px;
  margin: auto;
  font-weight: bold; }

nav:hover {
  min-height: 100px; }

nav:hover a {
  display: block; }

nav a:hover {
  width: 400px;
  height: 150px;
  flex-shrink: 1; }

.navindex {
  background: center/cover url("../images/indexbg.jpg"); }

.navriver {
  background: center/cover url("../images/riverbg.jpg"); }

.navlake {
  background: center/cover url("../images/lakebg.jpg"); }

.navteu {
  background: center/cover url("../images/teufelbg.jpg"); }

.navhigh {
  background: center/cover url("../images/highbg.jpg"); }

.navsumm {
  background: center/cover url("../images/summbg.jpg"); }

#navlabel {
  display: none; }

#navcheck {
  display: none; }

nav .location {
  border-style: inset; }

@media screen and (max-width: 720px) {
  nav {
    position: absolute;
    flex-flow: column wrap;
    height: unset;
    background: rgba(255, 255, 255, 0.3);
    max-height: 100vh;
    display: block; }
    nav a {
      display: block;
      border-radius: 50%;
      position: relative;
      left: 0;
      padding: 10px;
      height: unset;
      width: 200px; }
    nav a:not(.location) {
      display: none; }
    nav a:hover {
      height: unset;
      width: 200px;
      border: 2px solid white; }

  nav:hover {
    min-height: unset; }

  #navlabel {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(255, 255, 255, 0.2); }

  #navlabel:hover {
    background: rgba(255, 255, 255, 0.4); }

  #navcheck:checked + label {
    background: rgba(255, 255, 255, 0.6); }

  #navcheck:checked ~ a {
    display: block; } }
#index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw; }

@media screen and (max-width: 720px) {
  #index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
    padding-top: 100px; } }
#riverquiz .close, #moss .close, #fern .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  padding: 3px; }
  #riverquiz .close:hover, #moss .close:hover, #fern .close:hover {
    background-color: rgba(255, 255, 255, 0.3); }

#index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw; }

@media screen and (max-width: 720px) {
  #index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
    padding-top: 100px; } }
#riverquiz .close, #moss .close, #fern .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  padding: 3px; }
  #riverquiz .close:hover, #moss .close:hover, #fern .close:hover {
    background-color: rgba(255, 255, 255, 0.3); }

#index {
  background-image: url("../images/indexbg.jpg"); }

#frontpage-articles {
  max-width: 800px;
  margin: auto;
  text-align: center;
  line-height: 1.2; }
  #frontpage-articles article {
    display: none;
    color: #25372C; }
  #frontpage-articles input {
    display: none; }
  #frontpage-articles input:nth-of-type(1):checked ~ article:nth-of-type(1) {
    display: block; }
  #frontpage-articles input:nth-of-type(2):checked ~ article:nth-of-type(2) {
    display: block; }
  #frontpage-articles input:nth-of-type(3):checked ~ article:nth-of-type(3) {
    display: block; }
  #frontpage-articles input:nth-of-type(1):checked ~ div label:nth-of-type(1) {
    font-style: italic;
    font-weight: bold; }
    #frontpage-articles input:nth-of-type(1):checked ~ div label:nth-of-type(1) div {
      border: 5px solid #8FA1D8;
      padding: 0; }
  #frontpage-articles input:nth-of-type(2):checked ~ div label:nth-of-type(2) {
    font-style: italic;
    font-weight: bold; }
    #frontpage-articles input:nth-of-type(2):checked ~ div label:nth-of-type(2) div {
      border: 5px solid #8FA1D8;
      padding: 0; }
  #frontpage-articles input:nth-of-type(3):checked ~ div label:nth-of-type(3) {
    font-style: italic;
    font-weight: bold; }
    #frontpage-articles input:nth-of-type(3):checked ~ div label:nth-of-type(3) div {
      border: 5px solid #8FA1D8;
      padding: 0; }
  #frontpage-articles div {
    display: flex;
    justify-content: center; }
    #frontpage-articles div label {
      padding: 10px;
      border-radius: 30%;
      color: #8FA1D8; }
      #frontpage-articles div label div {
        border: 3px solid #8FA1D8;
        width: 30px;
        margin: 5px;
        padding: 2px;
        border-radius: 10px; }
    #frontpage-articles div label:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  #frontpage-articles .lets-go a {
    width: 100%;
    height: 150px;
    color: #B5E0A2;
    text-decoration: none;
    text-shadow: 1px 1px black;
    background: center/cover url("../images/riverbg.jpg");
    display: inline-block;
    border-radius: 20px 20px 100px 100px; }
  #frontpage-articles p {
    font-style: italic; }
  #frontpage-articles a {
    color: #8FA1D8;
    font-style: bold; }

h1 {
  color: #25372C; }

@media screen and (max-width: 720px) {
  #index {
    font-size: 12px; } }
@media screen and (max-height: 700px) {
  #frontpage-articles {
    background-color: rgba(255, 255, 255, 0.3); } }
#index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw; }

@media screen and (max-width: 720px) {
  #index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
    padding-top: 100px; } }
#riverquiz .close, #moss .close, #fern .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  padding: 3px; }
  #riverquiz .close:hover, #moss .close:hover, #fern .close:hover {
    background-color: rgba(255, 255, 255, 0.3); }

body {
  margin: 0; }

* {
  font-family: Arial,serif;
  box-sizing: border-box; }

h1 {
  font-size: 2.5em;
  margin-top: 0;
  text-align: center; }

input {
  display: none; }

#hideall:checked ~ div, #hideall:checked ~ h1 {
  display: none; }

#hidelabel {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 150px; }

#hidelabel span {
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
  padding: 5px;
  border-radius: 0 10px 0 0;
  margin: 0; }

#hideall:not(:checked) ~ #hidelabel:hover span:nth-of-type(1) {
  display: block; }

#hideall:checked ~ #hidelabel:hover span:nth-of-type(2) {
  display: block; }

@media screen and (max-width: 720px) {
  #hideall:not(:checked) ~ #hidelabel span:nth-of-type(1) {
    display: block; }

  #hideall:checked ~ #hidelabel span:nth-of-type(2) {
    display: block; } }
#interactives {
  position: absolute;
  top: 50%;
  left: 50%; }
  #interactives label {
    position: absolute; }

#showarticle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  display: none;
  Border-radius: 10px 0 0 0; }

#showart:not(:checked) ~ #showarticle {
  display: block;
  opacity: 0; }
  #showart:not(:checked) ~ #showarticle:hover {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1; }

#index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw; }

@media screen and (max-width: 720px) {
  #index, #riverwrap, #lakewrap, #teufelwrap, #highwrap, #summwrap {
    padding-top: 100px; } }
#riverquiz .close, #moss .close, #fern .close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  padding: 3px; }
  #riverquiz .close:hover, #moss .close:hover, #fern .close:hover {
    background-color: rgba(255, 255, 255, 0.3); }

#riverwrap {
  background-image: url("../images/riverbg.jpg"); }

#interactives {
  display: none; }

#river-articles {
  width: 50%;
  margin: auto;
  display: none; }
  #river-articles article {
    display: none;
    color: orange; }
  #river-articles input {
    display: none; }
  #river-articles input:nth-of-type(1):checked ~ article:nth-of-type(1) {
    display: block; }
  #river-articles input:nth-of-type(2):checked ~ article:nth-of-type(2) {
    display: block; }
  #river-articles input:nth-of-type(3):checked ~ article:nth-of-type(3) {
    display: block; }
  #river-articles input:nth-of-type(1):checked ~ div label:nth-of-type(1) {
    font-style: italic;
    font-weight: bold; }
    #river-articles input:nth-of-type(1):checked ~ div label:nth-of-type(1) div {
      border: 5px solid lightblue;
      padding: 0; }
  #river-articles input:nth-of-type(2):checked ~ div label:nth-of-type(2) {
    font-style: italic;
    font-weight: bold; }
    #river-articles input:nth-of-type(2):checked ~ div label:nth-of-type(2) div {
      border: 5px solid lightblue;
      padding: 0; }
  #river-articles input:nth-of-type(3):checked ~ div label:nth-of-type(3) {
    font-style: italic;
    font-weight: bold; }
    #river-articles input:nth-of-type(3):checked ~ div label:nth-of-type(3) div {
      border: 5px solid lightblue;
      padding: 0; }
  #river-articles div {
    display: flex;
    justify-content: center; }
    #river-articles div label {
      padding: 10px;
      border-radius: 30%;
      color: lightblue; }
      #river-articles div label div {
        border: 3px solid lightblue;
        width: 30px;
        margin: 5px;
        padding: 2px;
        border-radius: 10px; }
    #river-articles div label:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  #river-articles article label {
    color: lightblue; }

#showart:checked ~ #river-articles {
  display: block; }

#shownone:checked ~ #interactives {
  display: block; }

#riverquiz {
  position: relative;
  width: 400px;
  margin-left: 200px;
  font-size: 20px;
  display: none; }
  #riverquiz * {
    color: orange; }
  #riverquiz input {
    display: none; }
  #riverquiz div {
    display: none; }
  #riverquiz div:first-of-type {
    display: block;
    height: 50px; }
    #riverquiz div:first-of-type img {
      height: 50px;
      display: none; }
  #riverquiz div label {
    padding: 5px;
    border: 1px solid lightblue;
    display: block; }
    #riverquiz div label:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid lightblue; }
  #riverquiz p {
    display: none; }
  #riverquiz input:nth-of-type(9):checked ~ div:nth-of-type(2) {
    display: block; }
  #riverquiz input:nth-of-type(10):checked ~ div:nth-of-type(3) {
    display: block; }
  #riverquiz input:nth-of-type(11):checked ~ div:nth-of-type(4) {
    display: block; }
  #riverquiz input:nth-of-type(12):checked ~ div:nth-of-type(5) {
    display: block; }
  #riverquiz input:nth-of-type(13):checked ~ div:nth-of-type(6) {
    display: block; }
  #riverquiz input:nth-of-type(14):checked ~ div:nth-of-type(7) {
    display: block; }
  #riverquiz input:nth-of-type(15):checked ~ div:nth-of-type(8) {
    display: block; }
  #riverquiz input:nth-of-type(16):checked ~ div:nth-of-type(9) {
    display: block; }
  #riverquiz input:nth-of-type(17):checked ~ div:nth-of-type(10) {
    display: block; }
  #riverquiz input:nth-of-type(18):checked ~ div:nth-of-type(11) {
    display: block; }
  #riverquiz input:nth-of-type(19):checked ~ div:nth-of-type(12) {
    display: block; }
  #riverquiz input:nth-of-type(20):checked ~ div:nth-of-type(13) {
    display: block; }
  #riverquiz input:nth-of-type(21):checked ~ div:nth-of-type(14) {
    display: block; }
  #riverquiz input:nth-of-type(2):checked ~ div:nth-of-type(4) p {
    display: block; }
  #riverquiz input:nth-of-type(4):checked ~ div:nth-of-type(7) p {
    display: block; }
  #riverquiz input:nth-of-type(6):checked ~ div:nth-of-type(10) p {
    display: block; }
  #riverquiz input:nth-of-type(8):checked ~ div:nth-of-type(13) p {
    display: block; }
  #riverquiz input:nth-of-type(1):checked ~ div:nth-of-type(3) p {
    display: block; }
  #riverquiz input:nth-of-type(3):checked ~ div:nth-of-type(6) p {
    display: block; }
  #riverquiz input:nth-of-type(5):checked ~ div:nth-of-type(9) p {
    display: block; }
  #riverquiz input:nth-of-type(7):checked ~ div:nth-of-type(12) p {
    display: block; }
  #riverquiz input:nth-of-type(1):checked ~ div:first-of-type img:nth-of-type(1) {
    display: inline-block; }
  #riverquiz input:nth-of-type(2):checked ~ div:first-of-type img:nth-of-type(2) {
    display: inline-block; }
  #riverquiz input:nth-of-type(3):checked ~ div:first-of-type img:nth-of-type(3) {
    display: inline-block; }
  #riverquiz input:nth-of-type(4):checked ~ div:first-of-type img:nth-of-type(4) {
    display: inline-block; }
  #riverquiz input:nth-of-type(5):checked ~ div:first-of-type img:nth-of-type(5) {
    display: inline-block; }
  #riverquiz input:nth-of-type(6):checked ~ div:first-of-type img:nth-of-type(6) {
    display: inline-block; }
  #riverquiz input:nth-of-type(7):checked ~ div:first-of-type img:nth-of-type(7) {
    display: inline-block; }
  #riverquiz input:nth-of-type(8):checked ~ div:first-of-type img:nth-of-type(8) {
    display: inline-block; }

#quizlab {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  height: 8vh;
  width: 3vh;
  left: 2.5vh;
  top: -27vh; }
  #quizlab img {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4vh;
    width: 3vh;
    border-radius: 0 0 100% 100%;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
  #quizlab:hover {
    border: 1px solid white; }
    #quizlab:hover img {
      display: block;
      border-radius: 100% 100% 100% 100%;
      opacity: 1;
      height: 20vh;
      width: 20vh;
      bottom: -23vh;
      left: -8.5vh; }
  @media (min-aspect-ratio: 3 / 2) {
    #quizlab {
      height: 5.33333vw;
      width: 2vw;
      left: 1.66667vw;
      top: -18vw; }
      #quizlab img {
        height: 2.66667vw;
        width: 2vw; }
      #quizlab:hover img {
        height: 13.33333vw;
        width: 13.33333vw;
        bottom: -15.33333vw;
        left: -5.66667vw; } }
  #quizlab:hover img {
    background-color: rgba(255, 255, 255, 0.3); }

#showquiz:checked ~ #riverquiz {
  display: block; }

#moss {
  width: 400px;
  overflow: hidden;
  margin-left: 300px;
  text-align: center;
  border: 1px solid red;
  display: none;
  position: relative; }
  #moss * {
    color: orange; }
  #moss .slidebox {
    width: 1600px;
    display: flex;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s; }
    #moss .slidebox > div {
      position: relative;
      width: 400px;
      margin: 0;
      border: none;
      vertical-align: text-top; }
      #moss .slidebox > div img {
        width: 400px; }
      #moss .slidebox > div p {
        width: 80%;
        margin: auto; }
      #moss .slidebox > div label {
        position: absolute;
        font-size: 30px;
        border: 2px solid transparent;
        top: calc(50% - 20px);
        color: lightblue; }
        #moss .slidebox > div label:hover {
          border: 2px solid lightblue;
          background-color: rgba(255, 255, 255, 0.3); }
      #moss .slidebox > div:first-of-type label {
        right: 0; }
      #moss .slidebox > div:nth-of-type(2) label:first-of-type {
        left: 0; }
      #moss .slidebox > div:nth-of-type(2) label:nth-of-type(2) {
        right: 0; }
      #moss .slidebox > div:nth-of-type(3) label:first-of-type {
        left: 0; }
      #moss .slidebox > div:nth-of-type(3) label:nth-of-type(2) {
        right: 0; }
      #moss .slidebox > div:nth-of-type(4) label:first-of-type {
        left: 0; }
      #moss .slidebox > div:nth-of-type(4) label:nth-of-type(2) {
        right: 0; }
  #moss input:nth-of-type(1):checked ~ .slidebox {
    margin-left: 0px; }
  #moss input:nth-of-type(2):checked ~ .slidebox {
    margin-left: -400px; }
  #moss input:nth-of-type(3):checked ~ .slidebox {
    margin-left: -800px; }
  #moss input:nth-of-type(4):checked ~ .slidebox {
    margin-left: -1200px; }
  #moss > div:last-of-type {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid orange; }
    #moss > div:last-of-type label {
      border: 2px solid transparent;
      margin: 0 10px;
      color: lightblue;
      padding: 5px;
      border-radius: 3px; }
      #moss > div:last-of-type label:hover {
        border: 2px solid lightblue;
        background-color: rgba(255, 255, 255, 0.3); }
      #moss > div:last-of-type label span {
        border: 3px solid lightblue;
        width: 30px;
        margin: 5px;
        padding: 2px;
        border-radius: 10px;
        display: block; }
  #moss input:nth-of-type(1):checked ~ div:last-of-type > label:nth-of-type(1) {
    font-weight: bold;
    font-style: italic; }
    #moss input:nth-of-type(1):checked ~ div:last-of-type > label:nth-of-type(1) span {
      border: 5px solid lightblue;
      padding: 0; }
  #moss input:nth-of-type(2):checked ~ div:last-of-type > label:nth-of-type(2) {
    font-weight: bold;
    font-style: italic; }
    #moss input:nth-of-type(2):checked ~ div:last-of-type > label:nth-of-type(2) span {
      border: 5px solid lightblue;
      padding: 0; }
  #moss input:nth-of-type(3):checked ~ div:last-of-type > label:nth-of-type(3) {
    font-weight: bold;
    font-style: italic; }
    #moss input:nth-of-type(3):checked ~ div:last-of-type > label:nth-of-type(3) span {
      border: 5px solid lightblue;
      padding: 0; }
  #moss input:nth-of-type(4):checked ~ div:last-of-type > label:nth-of-type(4) {
    font-weight: bold;
    font-style: italic; }
    #moss input:nth-of-type(4):checked ~ div:last-of-type > label:nth-of-type(4) span {
      border: 5px solid lightblue;
      padding: 0; }

#showmoss:checked ~ #moss {
  display: block; }

#mosslab {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  height: 7vh;
  width: 7vh;
  left: 11vh;
  top: -2.4vh; }
  #mosslab img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5vh;
    width: 7vh;
    border-radius: 100% 100% 0 0;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
  #mosslab:hover {
    border: 1px solid white; }
    #mosslab:hover img {
      display: block;
      border-radius: 100% 100% 100% 100%;
      opacity: 1;
      height: 15vh;
      width: 15vh;
      top: -18vh;
      left: -4vh; }
  @media (min-aspect-ratio: 3 / 2) {
    #mosslab {
      height: 4.66667vw;
      width: 4.66667vw;
      left: 7.33333vw;
      top: -1.6vw; }
      #mosslab img {
        height: 2.33333vw;
        width: 4.66667vw; }
      #mosslab:hover img {
        height: 10vw;
        width: 10vw;
        top: -12vw;
        left: -2.66667vw; } }

#fern {
  width: 400px;
  overflow: hidden;
  position: relative;
  display: none;
  margin: auto; }
  #fern * {
    color: orange; }
  #fern .slidebox {
    width: 1200px;
    display: flex;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s; }
    #fern .slidebox > div {
      position: relative;
      width: 400px;
      margin: 0;
      border: none;
      vertical-align: text-top; }
      #fern .slidebox > div img {
        width: 400px; }
      #fern .slidebox > div p {
        width: 80%;
        margin: auto; }
      #fern .slidebox > div label {
        position: absolute;
        font-size: 30px;
        border: 2px solid transparent;
        top: calc(50% - 20px);
        color: lightblue; }
        #fern .slidebox > div label:hover {
          border: 2px solid lightblue;
          background-color: rgba(255, 255, 255, 0.3); }
      #fern .slidebox > div:first-of-type label {
        right: 0; }
      #fern .slidebox > div:nth-of-type(2) label:first-of-type {
        left: 0; }
      #fern .slidebox > div:nth-of-type(2) label:nth-of-type(2) {
        right: 0; }
      #fern .slidebox > div:nth-of-type(3) label:first-of-type {
        left: 0; }
      #fern .slidebox > div:nth-of-type(3) label:nth-of-type(2) {
        right: 0; }
  #fern input:nth-of-type(1):checked ~ .slidebox {
    margin-left: 0px; }
  #fern input:nth-of-type(2):checked ~ .slidebox {
    margin-left: -400px; }
  #fern input:nth-of-type(3):checked ~ .slidebox {
    margin-left: -800px; }
  #fern > div:last-of-type {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid orange; }
    #fern > div:last-of-type label {
      border: 2px solid transparent;
      margin: 0 10px;
      color: lightblue;
      padding: 5px;
      border-radius: 3px; }
      #fern > div:last-of-type label:hover {
        border: 2px solid lightblue;
        background-color: rgba(255, 255, 255, 0.3); }
      #fern > div:last-of-type label span {
        border: 3px solid lightblue;
        width: 30px;
        margin: 5px;
        padding: 2px;
        border-radius: 10px;
        display: block; }
  #fern input:nth-of-type(1):checked ~ div:last-of-type > label:nth-of-type(1) {
    font-weight: bold;
    font-style: italic; }
    #fern input:nth-of-type(1):checked ~ div:last-of-type > label:nth-of-type(1) span {
      border: 5px solid lightblue;
      padding: 0; }
  #fern input:nth-of-type(2):checked ~ div:last-of-type > label:nth-of-type(2) {
    font-weight: bold;
    font-style: italic; }
    #fern input:nth-of-type(2):checked ~ div:last-of-type > label:nth-of-type(2) span {
      border: 5px solid lightblue;
      padding: 0; }
  #fern input:nth-of-type(3):checked ~ div:last-of-type > label:nth-of-type(3) {
    font-weight: bold;
    font-style: italic; }
    #fern input:nth-of-type(3):checked ~ div:last-of-type > label:nth-of-type(3) span {
      border: 5px solid lightblue;
      padding: 0; }

#fernlab {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  height: 10vh;
  width: 12vh;
  left: -43vh;
  top: -17vh; }
  #fernlab img {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;
    width: 6vh;
    border-radius: 0 100% 100% 0;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
  #fernlab:hover {
    border: 1px solid white; }
    #fernlab:hover img {
      display: block;
      border-radius: 100% 100% 100% 100%;
      opacity: 1;
      height: 20vh;
      width: 20vh;
      top: -5vh;
      right: -23vh; }
  @media (min-aspect-ratio: 3 / 2) {
    #fernlab {
      height: 6.66667vw;
      width: 8vw;
      left: -28.66667vw;
      top: -11.33333vw; }
      #fernlab img {
        height: 6.66667vw;
        width: 4vw; }
      #fernlab:hover img {
        height: 13.33333vw;
        width: 13.33333vw;
        top: -3.33333vw;
        right: -15.33333vw; } }

#showfern:checked ~ #fern {
  display: block; }

#golake {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  height: 10vh;
  width: 10vh;
  left: -15vh;
  top: -23vh;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  background: center/cover url("../images/lakebg.jpg"); }
  #golake:hover {
    height: 15vh;
    width: 15vh;
    left: -17.5vh;
    top: -25.5vh; }
  @media (min-aspect-ratio: 3 / 2) {
    #golake {
      height: 6.66667vw;
      width: 6.66667vw;
      left: -10vw;
      top: -15.33333vw; }
      #golake:hover {
        height: 10vw;
        width: 10vw;
        left: -11.66667vw;
        top: -17vw; } }
  #golake:hover {
    opacity: 1; }
  #golake h3 {
    margin: 30% 15%; }

#lakewrap {
  background-image: url("../images/lakebg.jpg"); }

#teufelwrap {
  background-image: url("../images/teufelbg.jpg"); }

#highwrap {
  background-image: url("../images/highbg.jpg"); }

#summwrap {
  background-image: url("../images/summbg.jpg"); }

/*# sourceMappingURL=main.css.map */
